In [1]:
from numpy import*
from pandas import*
from tkinter import*

In [2]:
director_file=read_csv("BollywoodDirectorRanking.csv")
actor_file=read_csv("BollywoodActorRanking.csv")
movie_file=read_csv("BollywoodMovieDetail2.csv")

In [3]:
new_director_file=DataFrame({"directorname":director_file["directorName"],"director_rating":director_file["normalizedRating"]})
new_director_file.head()

      directorname  director_rating
0  Rajkumar Hirani         10.00000
1       Farah Khan          8.78473
2      Karan Johar          7.10460
3       Sajid Khan          6.99780
4     Rohit Shetty          6.83761

In [4]:

new_actor_file=DataFrame({"actor_name":actor_file["actorName"],"actor_rating":actor_file["normalizedRating"]})
new_actor_file.head()

         actor_name  actor_rating
0        Aamir Khan      10.00000
1    Shah Rukh Khan       9.22674
2       Salman Khan       9.20821
3      Katrina Kaif       8.94852
4  Deepika Padukone       8.62716

In [5]:
new_movie_file=DataFrame({"movie_name":movie_file["title"],"actors":movie_file["actors"],"directors":movie_file["directors"],"movie_rating":movie_file["hitFlop"]})
new_movie_file.head()

,movie_name,actors,directors,movie_rating
0,Albela,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,2
1,Lagaan: Once Upon a Time in India,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,6
2,Meri Biwi Ka Jawab Nahin,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,1
3,Hum Tumhare Hain Sanam,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,4
4,One 2 Ka 4,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,1

In [6]:
data1=list(new_actor_file["actor_name"])
data2=list(new_director_file["directorname"])
data3=list(new_actor_file["actor_rating"])
data4=list(new_director_file["director_rating"])
def check(actors):
        if isinstance(actors,float) and math.isnan(actors):
            return str(0)
        else:
            return str(actors) 
    
new_movie_file['actors']=new_movie_file['actors'].apply(check)
new_movie_file['directors']=new_movie_file['directors'].apply(check)

#print(new_movie_file['actors'].value_counts(dropna=False))
def replacecomma(actor):
    lst=[]
    if isinstance(actor,float) and math.isnan(actor):
            return 0
    else:
        lst=actor.split(" | ")
        return(lst) 
new_movie_file['new actors']=new_movie_file['actors'].apply(replacecomma)

def replacecomma2(director):
    lst=[]
    if isinstance(director,float) and math.isnan(director):
        return 0
    elif " | " not in director:
        lst.append(director)
        return(lst)
    else:
        lst=director.split(" | ")
        return(lst)
new_movie_file["directors"]=new_movie_file["directors"].apply(replacecomma2)

def calculate_average(actor_lst):
    s=0
    for j in actor_lst:
        if j in data1:
            index_no=data1.index(j)
            s=s+data3[index_no]
    return (s/len(actor_lst))

def calculate_average2(director_lst):
    s1=0
    for j in director_lst:
        if j in data2:
            index_no=data2.index(j)
            s1=s1+data4[index_no]
    return (s1/len(director_lst))
new_movie_file['latest_actor_rating']=new_movie_file['new actors'].apply(calculate_average)
new_movie_file["latest_director_rating"]=new_movie_file["directors"].apply(calculate_average2)
new_movie_file.head()

,movie_name,actors,directors,movie_rating,new actors,latest_actor_rating,latest_director_rating
0,Albela,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,[Deepak Sareen],2,"[Govinda, Aishwarya Rai Bachchan, Jackie Shrof...",3.826140,0.000000
1,Lagaan: Once Upon a Time in India,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,[Ashutosh Gowariker],6,"[Aamir Khan, Gracy Singh, Rachel Shelley, Paul...",3.292210,3.748080
2,Meri Biwi Ka Jawab Nahin,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,"[Pankaj Parashar, S.M. Iqbal]",1,"[Akshay Kumar, Sridevi, Gulshan Grover, Laxmik...",2.716680,0.606655
3,Hum Tumhare Hain Sanam,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,[K.S. Adiyaman],4,"[Shah Rukh Khan, Madhuri Dixit, Salman Khan, A...",5.817083,0.000000
4,One 2 Ka 4,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,[Shashilal K. Nair],1,"[Shah Rukh Khan, Juhi Chawla, Jackie Shroff, N...",3.745475,2.849850

# FINAL FILE

In [7]:
#clean data agains
def set_rating_name(rating):
    if rating==1:
        return("Flop")
    if rating==2:
        return("Average")
    if rating==3:
        return("Hit")
    if rating==4:
        return("Super Hit")
    if rating==5:
        return("BlockBuster")
     
def set_rating(rating):
    if rating==1 or rating==2:
        return(1)
    elif rating==3 or rating==4:
        return(2)
    elif rating==5 or rating==6:
        return(3)
    elif rating==7:  
        return(4)
    elif rating==8 or rating==9:
        return(5)

new_movie_file["hitFlopRating"]=new_movie_file["movie_rating"].apply(set_rating)   
new_movie_file["hitFlop"]=new_movie_file["hitFlopRating"].apply(set_rating_name)
del new_movie_file['movie_rating']
new_movie_file.head()

,movie_name,actors,directors,new actors,latest_actor_rating,latest_director_rating,hitFlopRating,hitFlop
0,Albela,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,[Deepak Sareen],"[Govinda, Aishwarya Rai Bachchan, Jackie Shrof...",3.826140,0.000000,1,Flop
1,Lagaan: Once Upon a Time in India,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,[Ashutosh Gowariker],"[Aamir Khan, Gracy Singh, Rachel Shelley, Paul...",3.292210,3.748080,3,Hit
2,Meri Biwi Ka Jawab Nahin,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,"[Pankaj Parashar, S.M. Iqbal]","[Akshay Kumar, Sridevi, Gulshan Grover, Laxmik...",2.716680,0.606655,1,Flop
3,Hum Tumhare Hain Sanam,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,[K.S. Adiyaman],"[Shah Rukh Khan, Madhuri Dixit, Salman Khan, A...",5.817083,0.000000,2,Average
4,One 2 Ka 4,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,[Shashilal K. Nair],"[Shah Rukh Khan, Juhi Chawla, Jackie Shroff, N...",3.745475,2.849850,1,Flop

In [8]:
new_movie_file["hitFlopRating"].value_counts(dropna=False)

1    3256
2     246
3     244
4      58
5      48
Name: hitFlopRating, dtype: int64

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
X=new_movie_file[["latest_actor_rating","latest_director_rating"]]
y=new_movie_file["hitFlopRating"]
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X,y)
y_pred=knn.predict(X)
print((metrics.accuracy_score(y,y_pred)))

0.8961578400830738

In [10]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(solver='liblinear',multi_class='auto')
logreg.fit(X,y)
y_pred=logreg.predict(X)
print(metrics.accuracy_score(y,y_pred))

0.8504672897196262

In [11]:
from sklearn import metrics
X=new_movie_file[["latest_actor_rating","latest_director_rating"]]
y=new_movie_file["hitFlopRating"]
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X,y)
y_pred=knn.predict(X)
print(metrics.accuracy_score(y,y_pred))

0.8961578400830738

# train test split

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=4)
knn=KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
print(metrics.accuracy_score(y_test,y_pred))
knn.predict([[8.338,10]])
knn.predict([[3.7,3.04]])
knn.predict([[6.80,7.14]])
knn.predict([[6.80,7.14]])
print(knn.predict([[8.07,7.94]]))

0.9110966904607398
[5]

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=4)
logreg=LogisticRegression(solver="liblinear",multi_class="auto")
logreg.fit(X_train,y_train)
y_pred=logreg.predict(X_test)
print(metrics.accuracy_score(y_test,y_pred))
logreg.predict([[8.338,10]])

0.8475016223231667

array([3], dtype=int64)

In [14]:
#for better value of k
k_range=range(1,31)
scores=[]
for k in k_range:
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train,y_train)
    y_pred=knn.predict(X_test)
    scores.append(metrics.accuracy_score(y_test,y_pred))
print(scores)
print(max(scores))
print(scores.index(max(scores)))

[0.9110966904607398, 0.8617780661907852, 0.8208955223880597, 0.8384166125892277, 0.8416612589227774, 0.8429591174561972, 0.8403634003893575, 0.8436080467229072, 0.8403634003893575, 0.8481505515898767, 0.8487994808565866, 0.8462037637897469, 0.8487994808565866, 0.8520441271901362, 0.8533419857235561, 0.853990914990266, 0.8520441271901362, 0.8507462686567164, 0.8520441271901362, 0.8520441271901362, 0.8526930564568462, 0.853990914990266, 0.8507462686567164, 0.8487994808565866, 0.8494484101232965, 0.8475016223231667, 0.8468526930564568, 0.8481505515898767, 0.8494484101232965, 0.8494484101232965]
0.9110966904607398
0



# by cross validation

In [15]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(knn,X,y,cv=24,scoring="accuracy")
print(score.mean())

0.8487481924978043

In [16]:
score=cross_val_score(logreg,X,y,cv=12,scoring="accuracy")
print(score.mean())

0.8499689500608977

In [17]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(X,y)
y_pred=gnb.predict(X)
print(metrics.accuracy_score(y,y_pred))
gnb.predict([[8.338,10.00]])
print(gnb.predict([[5.015,7.016]]))

0.8411214953271028
[3]

In [18]:
from sklearn.svm import SVC
f=SVC(gamma="scale")
f.fit(X,y)
y_pred=f.predict(X)
print(metrics.accuracy_score(y,y_pred))

0.8535825545171339

In [19]:
from sklearn.linear_model import SGDClassifier
l=SGDClassifier(loss="hinge",max_iter=1000,tol=0.001)
l.fit(X,y)
y_pred=l.predict(X)
print(metrics.accuracy_score(y,y_pred))

0.8452751817237798

In [20]:
from sklearn import tree
g=tree.DecisionTreeClassifier()
g.fit(X,y)
y_pred=g.predict(X)
print(metrics.accuracy_score(y,y_pred))

0.9937694704049844

In [21]:
from sklearn.ensemble import RandomForestClassifier
d=RandomForestClassifier(n_estimators=12)
d.fit(X,y)
y_pred=d.predict(X)
print(metrics.accuracy_score(y,y_pred))

0.9937694704049844

In [22]:
def finalset1():
    lst1=[]
    p=entry2.get()
    p=p.split(',')
    for i in p:
        i=i.title()
        lst1.append(i)
    m=calculate_average(lst1)
    lst2=[]
    r=entry3.get()
    r=r.split(',')
    for j in r:
        j=j.title()
        lst2.append(j)
    n=calculate_average2(lst2)
    return (m,n)
def finalset2():
        m,n=finalset1()
        knn.fit(X,y)
        b=knn.predict([[m,n]])
        a=set_rating_name(b)
        c=(b[0],':',a)
        g.set(c)

# make layout by tkinter

In [23]:
root=Tk()
root.title("Movie Project")
canvas=Canvas(width=2000,height=2000)
my_image=PhotoImage(file="C:\\Users\\Pallavi Bhatia\\Desktop\\movie_image.png")
canvas.create_image(0,0,anchor=NW,image=my_image)
canvas.pack()
topframe=Frame(root,bg="#f7911b")
topframe.place(relx=0.57,rely=0.001,relwidth=0.4,relheight=0.3)


label1=Label(topframe,text="Movie Name",bg="#f7911b",fg='#492604',font=('times new roman',15,'bold'))
label1.grid(row=0,column=0)

label2=Label(topframe,text="Actors Name",bg="#f7911b",fg='#492604',font=('times new roman',15,'bold'))
label2.grid(row=1,column=0)

label3=Label(topframe,text="Directors Name",bg="#f7911b",fg='#492604',font=('times new roman',15,'bold'))
label3.grid(row=2,column=0)
label1.place(relx=.09,rely=.06)
label2.place(relx=.09,rely=.23)
label3.place(relx=.09,rely=.40)
entry1=Entry(topframe,font=5,bg='#fad9aa')
entry1.grid(row=0,column=1)
entry1.place(relx=.35,rely=.06,relwidth=.45,relheight=.12)
entry2=Entry(topframe,font=5,bg='#fad9aa')
entry2.grid(row=1,column=1)
entry2.place(relx=.35,rely=.23,relwidth=.45,relheight=.12)
g=StringVar()
entry3=Entry(topframe,font=5,bg='#fad9aa')
entry3.grid(row=2,column=1)
entry3.place(relx=.35,rely=.40,relwidth=.45,relheight=.12)
button=Button(topframe,text="Check the Rating",font=('times new roman',13,'bold'),bg="#492604",fg="#f2800d",command=finalset2)
button.place(relx=.35,rely=.60,relwidth=.27)
entry4=Entry(topframe,textvariable=g,font=('times new roman',20,'bold'),fg="#492604",bg='#fad9aa')
entry4.grid(row=5,column=1)
entry4.place(relx=.28,rely=.82,relwidth=.45,relheight=.12)
root.mainloop()